{% include 'header.html' %}
    <body ng-controller="ScheduleCtrl">
    
    <div class="row">
        <div class="large-12 columns">
            <h1>Schedule Planner @ CMU</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-3 medium-3 columns panel">
	  <form ng-submit="load(user)">
	    <label>Your Andrew ID:</label>
            <input type="text" ng-model="user.andrewId" name="andrewid" placeholder="Andrew ID"/>
	    <input type="submit" value="Login" href="#" class="tiny button" />
	  </form>
	  <form ng-controller="AddCourseCtrl" ng-submit="addCourse(user, course)">
            <h5>Select a class</h5>
            <label>Course number</label>
            <div class="row collapse">
              <span class="large-4 medium-4 columns">
                <input type="number" ng-model="course.departmentNumber" min="0" max="99" maxlength="2" name="deptnumber" placeholder="##"/>
              </span>
              <span class="large-2 medium-2 columns text-center" style="padding-top:8px">-</span>
              <span class="large-6 medium-6 columns">
                <input type="number" ng-model="course.courseNumber" min="0" max="999" maxlength="3" name="coursenumber" placeholder="###"/>
              </span>
            </div>
            <label>Choose the semester</label>
	    
            <select ng-model="semester" ng-options="semesterLabel(s) for s in semesters" name="semester">
            </select>
            <input type="submit" value="Input Class" href="#" class="tiny button" />
          </form>
        </div>
        <div class="large-9 medium-9 columns">
            <dl ng-repeat="semester in schedule" ng-init="outer = $index">
		      <h4>{{semester.semester}} {{semester.year}}</h4>
                    <div id = "panel{{outer}}" class="content">
                        <dl class="tabs" ng-repeat="course in semester.courses">
			  <dd>{{course.course.department}}-{{course.course.courseNumber}}: {{course.course.name}}</dd>
			  <form ng-submit="saveComment(user, course)">
			    <textarea ng-model="course.comments"></textarea>
			    <input type="submit" value="Save Comments" class="tiny button" />
			  </form>
                        </dl><!--
                        <div class="tabs-content" ng-repeat="course in semester.courses">
                            <div class = "content" id="panel{{outer}}-{{$index}}">
                                <p>Panel {{$index}} content goes here...</p>
                            </div>
                        </div>-->
                    </div>
                </dd>
            </dl>
        </div>
    </div>
{% include 'footer.html' %}
